*{
    background-color: lightpink;
}
div{
    background-color: lime;
}
.c1
{
    background-color: magenta;
}
#id1
{
    background-color:azure;
    color: white;
}
#id1
{
    color: brown;
}
.c1{
    background-color: green;
}