#samplediv
{
    height: 300px;
    width: 300px;
    background-color: indianred;
}
@media(max-width:1000px) and (min-width:750px)
{
    #samplediv
    {
        background-color: blue;
    }
}
@media(max-width:750px) and (min-width:500px)
{
    #samplediv
    {
        background-color: darkgoldenrod;
    }
}
@media(max-width:500px) and (min-width:0px)
{
    
    #samplediv
    {
        
        height: 100px;
        width:200px;
        background-color:black;
    }
}